#root {
  display: flex;
  flex-direction: column;
}
html, body {
    overflow: scroll; /* Allow scrolling */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    font-family: Arial, sans-serif;
    /* font-family:cursive; */
}
.nextbutton{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}
